// colores
$color-primary: #FFA834;
$color-secondary: #000;
$color-tertiary: #fff;
// fuentes
$fuente-primary:'Roboto Condensed', sans-serif;
$fuente-secondary: Arial, Helvetica, sans-serif;
// shadows
